# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Francis Behnen
	email = 15660621+FrancisBehnen@users.noreply.github.com
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !which gh >/dev/null 2>&1 && gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !which gh >/dev/null 2>&1 && gh auth git-credential
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[alias]
	sync-upstream = "!f() { git fetch upstream main && git rebase --autostash upstream/main && git push -f; }; f"
