<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>nl.den-toonder.ramdisk</string>
    <key>ProgramArguments</key>
    <array>
        <string>SEDREPLACEPWD/ramdisk.sh</string>
        <string>sync</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/tmp/ramdisk-job.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/ramdisk-job.err.log</string>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/bin:/usr/bin</string>
    </dict>
</dict>
</plist>

